:root{
    --CorDeFundo: #fffbde;
    --CorDosLinks: #ffccbd;
    --CorDoTexto: #4d4b4d;
    --CorDeDestaque: #89f336;
}

.meie-script-regular{
    font-family: "Meie Script", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quintessential-regular{
    font-family: "Quintessential", Arial, Helvetica, serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--CorDeFundo);
    color: var(--CorDoTexto);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--CorDosLinks);
}

nav{
    background-color: var(--CorDeDestaque);
    display: flex;
    align-items: center;
    gap: 75px;
    position: sticky;
    z-index: 100;
}

nav img{
    width: 50px;
}

nav button{
    background-color: var(--CorDeDestaque);
    color: var(--CorDoTexto);
    border: none;
    outline: none;
}

nav button:hover{
    color: var(--CorDosLinks);
}

footer{
    background-color: var(--CorDeDestaque);
}