:root{
    --CorEsmeralda: #00674F;
    --CorDoTexto: black;
    --CorDeDestaque: #D3D3D3;
}

body{
    background-color: var(--CorDeDestaque);
    color: var(--CorDoTexto);
}

a{
    color: var(--CorDoTexto);
    text-decoration: none;
}

nav{
    background-color: var(--CorDeDestaque);
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1;
}

nav img{
    width: 50px;
}

p{
    text-align: center;
    color: var(--CorDeDestaque);
}

h1{
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--CorEsmeralda);
}

.cartao{
    background: var(--CorEsmeralda);
    color: var(--CorDeDestaque);
    display: grid;
    padding: 10px;
    margin-bottom: 25px;
}

.cartao p{
    text-align: start;
}

.comunicado{
    text-align: center;
    font-style: bold;
    text-decoration: underline;
}

footer p{
    margin: 25px;
    color: var(--CorEsmeralda);
    text-align: start;
}

@media (min-width: 700px) {
    *{
        font-size: 18px;
    }
    h1{
        font-size: 40px;
    }
}

@media (min-width: 900px) {
    *{
        font-size: 21px;
    }
    h1{
        font-size: 45px;
    }
}